@import url('fonts/font-awesome.css');

* {
	box-sizing: border-box;
}


html,
body,
#root {
height: 100%;
}

a {
	color: #000;
	text-decoration: none;
}

body {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #405060;
}


